Repository GabrielCodeProject/payment-integration-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "cspell --no-progress --no-summary"],
  "*.{md,mdx}": ["prettier --write", "cspell --no-progress --no-summary"],
  "*.{json,yaml,yml}": ["prettier --write"],
  "*.{ts,tsx}": ["bash -c 'tsc --noEmit --skipLibCheck'"]
}

fix: add data/ folder to .gitignore
  .gitignore
Due: none

fix: resolve Husky and cSpell issues for commit hooks
  .claude/settings.local.json
  .dockerignore
  .env.example
  .husky/pre-commit
  Dockerfile
  Dockerfile.dev
  SECURITY-FIXES.md
  cspell.config.json
  database/init/01-init-database.sql
  database/init/02-create-functions.sql
  database/postgresql.conf
  database/redis.conf
  docker-compose.yml
  docs/docker-setup.md
  package.json
  prisma/schema.prisma
  scripts/docker-monitor.sh
  src/app/api/health/route.ts
  tasks/tasks-stripe_template_prd.md
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

database setup and middleware configuration
  .claude/agents/task-coordinator.md
  .claude/settings.local.json
  .env.example
  cspell.config.json
  eslint.config.mjs
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  src/app/api/auth/[...betterauth]/route.ts
  src/lib/auth/README.md
  src/lib/auth/config.ts
  src/lib/auth/middleware.ts
  src/middleware.ts
  tasks/tasks-stripe_template_prd.md
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

feat: implement scalable project structure organization (Task 1.10)
  .claude/settings.local.json
  cspell.config.json
  src/app/api/auth/[...betterauth]/route.ts
  src/components/README.md
  src/hooks/README.md
  src/lib/auth/middleware.ts
  src/lib/safe-action.ts
  src/middleware.ts
  src/services/README.md
  src/services/payments/README.md
  src/services/subscriptions/README.md
  src/types/README.md
  src/types/common/index.ts
  src/types/global.d.ts
  src/utils/README.md
  src/utils/constants/README.md
  src/utils/formatting/README.md
  src/utils/helpers/README.md
  src/utils/validation/README.md
  tasks/tasks-stripe_template_prd.md
  tsconfig.json
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

database constrainte
  .claude/settings.local.json
  .env.example
  docs/database-constraints-verification.md
  package-lock.json
  package.json
  scripts/db-health-check.sh
  scripts/verify-database-constraints.ts
  scripts/verify-prd-requirements.sh
  src/lib/auth/config.ts
  src/lib/db.ts
  tasks/tasks-stripe_template_prd.md
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

feat: add comprehensive database performance indexes
  .claude/settings.local.json
  docs/database-index-strategy.md
  prisma/schema.prisma
  scripts/verify-index-performance.ts
  tasks/tasks-stripe_template_prd.md
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

feat: implement comprehensive audit logging system
  .claude/settings.local.json
  database/init/03-audit-system.sql
  database/init/04-audit-triggers.sql
  prisma/schema.prisma
  src/lib/audit-middleware.ts
  src/lib/audit.ts
  tasks/tasks-stripe_template_prd.md
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

feat: complete database migration files creation and validation (Task 2.7)
  cspell.config.json
  docs/database-migration-strategy.md
  prisma/schema.prisma
Due: prettier --write, cspell --no-progress --no-summary

feat: implement comprehensive database seeding system (Task 2.8)
  cspell.config.json
  docs/DATABASE_SEEDING.md
  package.json
  prisma/seed.ts
  prisma/seeds/discountCodes.ts
  prisma/seeds/index.ts
  prisma/seeds/orders.ts
  prisma/seeds/paymentMethods.ts
  prisma/seeds/products.ts
  prisma/seeds/subscriptions.ts
  prisma/seeds/types.ts
  prisma/seeds/users.ts
  prisma/seeds/utils.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

feat: complete database schema infrastructure (Tasks 2.7-2.8)
  prisma/seeds/discountCodes.ts
  prisma/seeds/index.ts
  prisma/seeds/types.ts
  src/lib/audit.ts
  tasks/tasks-stripe_template_prd.md
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

feat: implement comprehensive backup and recovery system (Task 2.9)
  cspell.config.json
  database/backup/scripts/backup-monitor.sh
  database/backup/scripts/backup-verification.sh
  database/backup/scripts/cron-scheduler.sh
  database/backup/scripts/disaster-recovery.sh
  database/backup/scripts/logical-backup.sh
  database/backup/scripts/pgbackrest-wrapper.sh
  database/backup/scripts/physical-backup.sh
  database/backup/scripts/pitr-test.sh
  database/backup/scripts/wal-archive-cleanup.sh
  database/config/backup.conf
  database/config/pgbackrest.conf
  database/postgresql.conf
  docker-compose.yml
  docs/backup-recovery-system.md
  docs/disaster-recovery-runbook.md
Due: prettier --write, cspell --no-progress --no-summary

feat: implement comprehensive database security and connection pooling (Task 2.10)
  .env.example
  cspell.config.json
  database/Dockerfile.pgbouncer
  database/config/pgbouncer.ini
  database/config/userlist.txt
  database/init/00-security-setup.sql
  database/init/05-security-monitoring.sql
  database/pg_hba.conf
  database/postgresql.production.conf
  database/scripts/generate-pgbouncer-passwords.py
  database/scripts/generate-ssl-certs.sh
  database/scripts/pgbouncer-healthcheck.sh
  database/scripts/production-security-hardening.sh
  database/scripts/security-validation-test.sh
  docker-compose.yml
  docs/DATABASE_SECURITY_GUIDE.md
  src/lib/db.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

feat: complete database schema and core infrastructure (Task 2.0)
  tasks/tasks-stripe_template_prd.md
Due: prettier --write, cspell --no-progress --no-summary

feat: implement complete authentication system (Tasks 3.1-3.3)
  .claude/settings.local.json
  package-lock.json
  package.json
  prisma/schema.prisma
  scripts/validate-env.js
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/app/(auth)/register/page.tsx
  src/app/(auth)/verify-email/page.tsx
  src/app/api/auth/[...betterauth]/route.ts
  src/app/api/example/route.ts
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/components/auth/EmailVerificationStatus.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/LogoutButton.tsx
  src/components/auth/PasswordStrengthIndicator.tsx
  src/components/auth/RegistrationForm.tsx
  src/components/auth/UserMenu.tsx
  src/components/auth/__tests__/AuthComponents.test.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/progress.tsx
  src/components/ui/sonner.tsx
  src/lib/auth/README.md
  src/lib/auth/client.ts
  src/lib/auth/config.ts
  src/lib/auth/edge-middleware.ts
  src/lib/auth/edge-session.ts
  src/lib/auth/server-session.ts
  src/lib/email.ts
  src/lib/env.ts
  src/middleware.ts
  tasks/tasks-stripe_template_prd.md
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

docs: update task file with completed authentication implementation
  tasks/tasks-stripe_template_prd.md
Due: prettier --write, cspell --no-progress --no-summary

fix: resolve middleware session authentication issue
  src/lib/auth/config.ts
  src/lib/auth/edge-middleware.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: resolve Better Auth cookie cache secret configuration issue
  scripts/validate-env.js
  src/lib/auth/config.ts
  src/lib/auth/edge-middleware.ts
  src/lib/env.ts
  src/types/global.d.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: resolve critical AdminStats component error with comprehensive defensive programming
  src/components/admin/AdminStats.tsx
  src/lib/services/user-management.service.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: enhance CORS configuration for Better Auth cross-origin requests
  .claude/settings.local.json
  .env.example
  CORS-FIX-DOCUMENTATION.md
  package-lock.json
  package.json
  src/middleware.ts
  tasks/tasks-stripe_template_prd.md
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: resolve PostgreSQL protocol error in user registration
  package-lock.json
  prisma/schema.prisma
Due: prettier --write

fix: resolve comprehensive session management and UI component issues
  src/app/(auth)/verify-email/page.tsx
  src/app/api/auth/sessions/[id]/route.ts
  src/app/api/auth/sessions/refresh/route.ts
  src/app/api/auth/sessions/route.ts
  src/app/api/auth/sessions/terminate-all/route.ts
  src/components/auth/ActiveSessionsList.tsx
  src/components/ui/select.tsx
  src/lib/session-manager.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: correct spelling error in terminate-all route (sessiones -> sessionsToTerminate)
  src/app/api/auth/sessions/terminate-all/route.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: resolve profile image upload URL validation error
  src/services/profile.service.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

feat: implement comprehensive authentication UI components (Task 3.8)
  package-lock.json
  package.json
  src/app/(auth)/layout.tsx
  src/components/auth/Avatar.tsx
  src/components/auth/ProfileCard.tsx
  src/components/auth/SessionIndicator.tsx
  src/components/auth/SessionTerminateDialog.tsx
  src/components/auth/UserMenu.tsx
  src/components/auth/index.ts
  src/components/ui/dropdown-menu.tsx
  tasks/tasks-stripe_template_prd.md
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

docs: mark authentication tasks 3.9 and 3.10 as completed in PRD
  tasks/tasks-stripe_template_prd.md
Due: prettier --write, cspell --no-progress --no-summary

chore: clean up repository and update database configuration
  AUTHENTICATION_COVERAGE_VALIDATION_REPORT.md
  AUTHENTICATION_EDGE_CASE_TEST_REPORT.md
  AUTHENTICATION_TEST_SUITE.md
  CORS-FIX-DOCUMENTATION.md
  README.md
  SECURITY-FIXES.md
  SECURITY_IMPROVEMENTS.md
  SECURITY_INTEGRATION_TEST_REPORT.md
  SESSION_MANAGEMENT_TEST_REPORT.md
  database/pg_hba.conf
  database/postgresql.conf
  docker-compose.yml
  package-lock.json
  package.json
  prisma/seeds/users.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: resolve persistent 403 error by correcting environment variable port configuration
  src/lib/safe-action.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

refactor: migrate authentication system to BetterAuth-only implementation
  .claude/settings.local.json
  docs/tanstack-query-migration-analysis.md
  prisma/schema.prisma
  prisma/seeds/users.ts
  scripts/analyze-auth-state.ts
  scripts/check-db-schema.ts
  scripts/check-schema.sql
  scripts/cleanup-legacy-auth.ts
  scripts/create-betterauth-users.ts
  scripts/update-test-files.ts
  scripts/verify-betterauth-only.ts
  src/app/api/admin/users/[id]/route.ts
  src/lib/audit.ts
  src/lib/csrf-protection.ts
  src/lib/validations/base/user.ts
  src/middleware.ts
  tests/fixtures/TestDataGenerator.ts
  tests/integration/AuditLoggingIntegration.test.ts
  tests/integration/EndToEndSecurityFlow.test.ts
  tests/integration/session-management.test.ts
  tests/security/AuthenticationEdgeCases.test.ts
  tests/security/authentication-security.test.ts
  tests/security/pci-dss-compliance.test.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: add eslint disable comments to migration scripts
  src/app/api/admin/users/[id]/route.ts
  tests/fixtures/TestDataGenerator.ts
  tests/integration/AuditLoggingIntegration.test.ts
  tests/integration/EndToEndSecurityFlow.test.ts
  tests/security/AuthenticationEdgeCases.test.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: resolve Resend email authentication error and improve error handling
  src/components/auth/EmailVerificationStatus.tsx
  src/lib/auth/config.ts
  src/lib/email.ts
  src/lib/validations/base/auth.ts
  src/lib/validations/base/common.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: resolve const reassignment error in admin products page
  src/app/(protected)/admin/products/page.tsx
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

feat: implement comprehensive product management system (tasks 4.1-4.3)
  .claude/settings.local.json
  package-lock.json
  package.json
  public/uploads/profiles/8b2a2dc3-dab9-4892-8e46-4619645a2c0e-7bb637af-078d-48dc-800e-5ef84d40b1d5.jpg
  src/app/(protected)/admin/products/[id]/page.tsx
  src/app/(protected)/admin/products/create/page.tsx
  src/app/(protected)/admin/products/edit/[id]/page.tsx
  src/app/api/admin/products/stats/route.ts
  src/app/api/products/[id]/route.ts
  src/app/api/products/[id]/stock/route.ts
  src/app/api/products/__tests__/products.test.ts
  src/app/api/products/bulk/route.ts
  src/app/api/products/route.ts
  src/app/api/products/search/route.ts
  src/app/api/upload/route.ts
  src/components/admin/AdminNavigation.tsx
  src/components/admin/products/ProductCard.tsx
  src/components/admin/products/ProductFilters.tsx
  src/components/admin/products/ProductForm.tsx
  src/components/admin/products/ProductImageUpload.tsx
  src/components/admin/products/ProductStats.tsx
  src/components/admin/products/ProductTable.tsx
  src/components/admin/products/StockIndicator.tsx
  src/components/admin/products/index.ts
  src/components/ui/calendar.tsx
  src/components/ui/popover.tsx
  src/components/ui/switch.tsx
  src/components/ui/textarea.tsx
  src/lib/api-helpers.ts
  src/lib/utils.ts
  src/services/products/product.service.ts
  src/test/factories/product.factory.ts
  tasks/tasks-stripe_template_prd.md
  tests/integration/services/product.service.test.ts
  tests/unit/validations/product.test.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: clean up unused imports in product management components
  src/components/admin/products/ProductForm.tsx
  src/components/admin/products/ProductImageUpload.tsx
  src/components/admin/products/ProductStats.tsx
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

fix: resolve CSRF validation failure for digital product creation
  src/lib/csrf-protection.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

refactor: implement secure auto-generated IDs for all seed data
  prisma/seeds/discountCodes.ts
  prisma/seeds/orders.ts
  prisma/seeds/paymentMethods.ts
  prisma/seeds/products.ts
  prisma/seeds/subscriptions.ts
  prisma/seeds/types.ts
  prisma/seeds/users.ts
  src/app/(protected)/admin/products/page.tsx
  src/app/api/products/route.ts
Due: eslint --fix, prettier --write, cspell --no-progress --no-summary, bash -c 'tsc --noEmit --skipLibCheck'

chore: update cspell dictionary with seed data terms
  cspell.config.json
Due: prettier --write
